.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid black;
}

.logo {
    width: 70px;
    margin-left: 100px;
}

.navItems > ul {
   display: flex;
   gap: 3rem;
   list-style: none;
   font-size: 1.3rem;
   margin-right: 100px;
}