.header {
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 60px;
    display: block;
    margin-left: 130px;
}


.navItems > ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 1.1rem;
    margin-right: 130px;
}