.itemCard {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.itemName {
    color: #484848;
}

.itemImg {
    width: 150px;
}

.description {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}